<div class="">

<h1>Your Online Phonebook</h1>

<a href="/phonebooks"><button type="submit" class="btn btn-danger" name="button">Go to Phonebook lists</button></a>
<a href="/phonebooks/new"><button type="submit" class="btn btn-primary" name="button">Add New Phonebook</button></a>
</div>
