<!DOCTYPE html>

<html>
<head>
  <title>Phonebooks</title>
  <link rel="stylesheet" href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div>
    <%= yield %>
  </div>
</body>
</html>
