



<h3 class="text-center">Here are all your contacts:</h3>
<div class="">
<ul>
  <% @phonebook.contacts().each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.first_name() %> <%= contact.last_name() %> </a></li>
  <% end %>
</ul>


<a href="/phonebooks/<%= @phonebook.id %>/contacts/new"><button type="button" class="btn btn-primary "name="button">Add contact</button></a>
<a href="/"><button type="button" class="btn btn-danger "name="button">Return to Main Page</button></a>
</div>
