<h1>Add phonebooks</h1>

<p>Add a phonebook here:</p>
<div class="form">

</div>
<form action = "/phonebooks" method="post">
  <label for="name">Phonebook's name:</label>
  <input id="name" name="name" type="text">
  <button type = "submit" class="btn btn-primary">Add Phonebook</button>
</form>
</div>
